*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

a{
    text-decoration: none;
    color: #000;
}

/* Header */
header{
    padding-top: 20px;
    background: rgb(55, 37, 83)
    /* url("./assets/engin-akyurt-BawjznQ3Q8U-unsplash.jpg") no-repeat center center/cover */
}

.middle{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.middle .blur-box{
    font-weight: bolder;
    color: #fff;
    padding: 50px 50px;
    background-color: rgba(255, 255, 255, .1);
    flex-direction: 1;
    border-radius: 8px;
}

.middle .blur-box h1{
    text-shadow: 2px 2px 8px rgba(29, 1, 17, 0.463);
    font-size: 5rem;
    padding: 20px 80% 20px 00px;
}
.middle .blur-box h6{
    font-size: 24px;
}

.middle .main-nav ul{
    position: relative;
    display: flex;
    list-style: none;
    margin-top: 50px;
    padding: 20px 50px;
    background: #fff;
    border-radius: 5px 5px 0px 0px;
    justify-content: space-between;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 1px 15px 10px 0px rgb(191, 191, 233,.5);
}

.middle .main-nav ul a{
    color: #000;
    text-decoration: none;
    
}

.middle .main-nav ul a:hover{
    /* h-shadow v-shadow blur-radius color|none|initial|inherit; */
    /* box-shadow: 0px 18px 10px rgb(141, 141, 193); */
    border-bottom: 2px solid #000;

}

.middle .main-nav ul a:hover li{
    padding-bottom: 5px;
}

/* About */
.center-about{
    position: relative;
    width: 70%;
    margin: auto;
}

.about{
    clip-path: polygon(48.96% 2px, 99.85% 0.06%, 97.06% 38.09%, 99.73% 84.74%, 49.92% 95.8%, 0.46% 85.13%, 2.63% 36.94%, 5px 0.06%);
    padding: 100px 0px;
    background: rgb(221, 160, 221, 0.1);
}

.about .about-info{
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: repeat(2, 1fr 2fr) ;
}

.about .about-info h2{
    /* margin-right: 20px; */
}

.about .about-info .years-box{
    max-height: 150px;
    background-color: rgba(213, 108, 213, 0.7);
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    /* padding-bottom: 20px; */
    text-align: center;
    /* margin: 0px 30px; */
    border: 12px solid rgba(245, 218, 245, 0.5);
    border-radius: 10px;
}

.years-box h1{
    font-size: 4rem;
    text-shadow: 2px 2px 8px rgba(232, 51, 153, 0.463);
    color: white;
    
}

.years-box p{
    font-size: x-small;
}


/* About Buttons */
.about-buttons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.about-buttons .hire-me, .download-cv{
    display: flex;
}

.about-buttons .hire-me{
    padding: 5px 20px;
    border-radius: 20px;
    background: rgb(239, 235, 239, 0.4);;
}
.about-buttons .hire-me:hover {
    box-shadow: 0px 5px 5px rgb(141, 141, 193, .3);
    /* margin: 0px 8px;     */
}

.about-buttons .hire-me i, .download-cv i{
    /* space between icon and text */
    padding-right: 8px;
}

.about-buttons .download-cv{
    border-radius: 20px;
    margin-left: 10px;
    padding: 5px 20px;
    background-color: rgb(63, 154, 234, 0.2);
}
.about-buttons .download-cv:hover {
    box-shadow: 0px 5px 5px rgb(141, 141, 193, .3);
}

/* Skills*/

.skills{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 100px;
}

.skills p{
    border-right: 5px solid red;
    padding-right: 5px;
}

.skills h1{
    border-right: 5px solid black;
    padding-right: 5px;
}

/* Skill list */
.skill-list{
    margin-top: 30px;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.skill-list div{
    background-color: rgba(69, 45, 255, 0.254);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    border-radius: 10px;
    
}

.skill-list div .rounded{
    font-size: 24px;
    padding: 15px 20px;
    border-radius: 100%;
    background-color: #fff;
    margin-bottom: 15px;

}

.skill-list div:nth-child(2){
    background-color: rgb(245, 157, 219, 0.367);
}

.skill-list div:nth-child(3){
    background-color: rgba(54, 232, 113, 0.241);
}

.skill-list div:nth-child(4){
    background-color: rgba(242, 249, 45, 0.367);
}

.start-project{
    bottom: -500px;
    right: 0px;
    position: absolute;
}