*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

a{
    text-decoration: none;
    color: #000;
}

/* Header */
header{
    padding-top: 20px;
    background: rgb(108, 108, 138)
    /* url("./assets/engin-akyurt-BawjznQ3Q8U-unsplash.jpg") no-repeat center center/cover */
}

.middle{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.middle .blur-box{
    font-weight: bolder;
    color: #fff;
    padding: 50px 50px;
    background-color: rgba(255, 255, 255, .3);
    flex-direction: 1;
    border-radius: 8px;
}

.middle .blur-box h1{

    font-size: 5rem;
    padding: 20px 80% 20px 00px;
}
.middle .blur-box h6{
    font-size: 24px;
}

.middle .main-nav ul{
    position: relative;
    display: flex;
    list-style: none;
    margin-top: 50px;
    padding: 20px 50px;
    background: #fff;
    border-radius: 5px 5px 0px 0px;
    justify-content: space-between;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 1px 15px 10px 0px rgb(191, 191, 233,.5);
}

.middle .main-nav ul a{
    color: #000;
    text-decoration: none;
    
}

.middle .main-nav ul a:hover{
    /* h-shadow v-shadow blur-radius color|none|initial|inherit; */
    box-shadow: 0px 18px 10px rgb(141, 141, 193);
}

/* About */
.center-about{
    width: 60%;
    margin: auto;
}

.about{
    margin: 100px 0px;
}

.about .about-info{
    display: flex;
    justify-content: space-between;
}

.about .about-info h2{
    margin-right: 20px;
    flex: 1;
}

.about .about-info .years-box{
    /* height: 100%; */
    max-height: 150px;
    background-color: rgba(213, 108, 213, 0.7);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0px 30px;
    border: 12px solid rgba(245, 218, 245, 0.5);
    border-radius: 10px;
}

.years-box h1{
    font-size: 4rem;
    text-shadow: 0px 5px 10px rgba(245, 218, 245, 1);
    color: white;
    
}

.years-box p{
    font-size: x-small;
}


.about .about-info p{
    flex: 1;
}

/* About Buttons */
.about-buttons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.about-buttons .hire-me, .download-cv{
    display: flex;
}

.about-buttons .hire-me{
    padding: 5px 20px;
    border-radius: 20px;
    background: rgb(239, 235, 239, 0.4);;
}
.about-buttons .hire-me:hover {
    box-shadow: 0px 5px 5px rgb(141, 141, 193);
    /* margin: 0px 8px;     */
}

.about-buttons .hire-me i, .download-cv i{
    /* space between icon and text */
    padding-right: 8px;
}

.about-buttons .download-cv{
    border-radius: 20px;
    margin-left: 10px;
    padding: 5px 20px;
    background-color: rgb(63, 154, 234, 0.2);
}
.about-buttons .download-cv:hover {
    box-shadow: 0px 5px 5px rgb(141, 141, 193);
    /* margin: 0px 5px;     */
}

/* Skills*/

.skills{
    margin-top: 100px;
}

.skills p{
    border-left: 5px solid red;
    padding-left: 5px;
}

.skills h1{
    border-left: 5px solid black;
    padding-left: 5px;
}